<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>

</head>

<body class="bg-gray-800 text-white">
  <header class="container mb-5 sm:mt-8 mt-4 mx-auto px-7 sm:p-0">
    <h1 class="font-bold text-3xl">Movie DB API</h1>
  </header>
  <main class="container mx-auto px-7 sm:p-0">
    <p>Found x movies data</p>
  </main>
</body>

</html>